{% extends "vendor/caweb/phpdoc/index.html.twig" %}
{% import "vendor/caweb/phpdoc/macros.twig" as macros %}

{% block head %}
    <title>CAWeb Files</title>
{% endblock head %}

{% block introduction %}
<div id="file-intro" class="border-bottom border-info">
    <h1>{{ node.name }}{{ macros.github_file_link(node, 'link', "ml-2 no-underline") }}</h1>
    <i class="d-block">{{ node.summary }}</i>
    
    {# Tags #}
    {{ include('vendor/caweb/phpdoc/ssi/tags.html', {'__tags': node.tags, '__attr': ['link', 'see']}) }}
</div>


{% endblock introduction %}

{% block table_of_contents %}
<div id="file-toc" class="mt-3">
<h2>Table of Contents</h2>
{# List any Action Hooks #}
<ul class="list-overstated">
{{ macros.wordpress_hooks(node,false, 'action', true, true) }}
{{ macros.wordpress_hooks(node,false, 'filter', true, true) }}

{% set __obj = node.methods is not empty ? node.functions|merge(node.methods) : node.functions %}
{% if __obj|length > 0 %}
<li><a href="#functions">Functions</a></li>
{% endif %}
</ul>
</div>
{% endblock table_of_contents %}


{% block body %}

{# List any Action Hooks #}
{{ macros.wordpress_hooks(node,false, 'action', true) }}
{{ macros.wordpress_hooks(node,false, 'filter', true) }}

{{ include('vendor/caweb/phpdoc/ssi/functions.html') }}
{% endblock body %}
