{% extends "vendor/caweb/phpdoc/layout.html.twig" %}

{% set functions = [] %}
{# iterate thru node functions #}
{% for f in node.functions|sort_asc %}
    {# Save function information #}
    {% set functions = functions|merge([f]) %}

    {# iterate thru classes in the file  #}
    {% for class in node.classes|sort_asc %}
        {# iterate thru class methods #}
        {% for c in class.methods|sort_asc %}
            {# Save function information #}
            {% set functions = functions|merge([c]) %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% set found_action, found_filter = false, false %}

{% block head %}
    <title>CAWeb Files</title>
{% endblock head %}

{% block introduction %}
<div id="file-intro" class="border-bottom border-info">
        <h1>{{ node.name }}<a target="_blank" class="ml-2 no-underline" href="{{ gitub_href_link ~ node.path }}">
                <span class="ca-gov-icon-link d-inline h4"></span>
            </a>
        </h1>
    <i class="d-block">{{ node.summary }}</i>
    
    {# Tags #}
    {{ include('vendor/caweb/phpdoc/inc/tags.html', {'__tags': node.tags, '__attr': ['link', 'see']}) }}
</div>


{% endblock introduction %}

{% block table_of_contents %}
<div id="file-toc" class="mt-3">
    <h2>Table of Contents</h2>
    
    <ul class="list-overstated">
        {% if node.classes|length > 0 %}
            <li><a href="#classes">Classes</a></li>
        {% endif %}
        {% for function in functions %}
            {# iterate thru function tags, if function has category tag reference save it #}
            {% for tag_name,tags in function.tags %}
                {% if tag_name in ['category']  %}
                    {% set h = tags.0.description %}

                    {# get all hooks in category #}
                    {% set hooks = '{' == h|first ? h|slice(1, h|length - 2 )|trim|split('\n') : h|split('\n') %}

                    {% for entry in hooks %}
                        {% if "add_action" == entry|slice(0,10) and false == found_action  %}
                            {% set found_action = true %}
                            <li><a href="#actions">Actions</a></li>
                        {% elseif "add_filter" == entry|slice(0,10) and false == found_filter %}
                            <li><a href="#filter">Filters</a></li>
                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if functions|length > 0 %}
        <li><a href="#functions">Functions</a></li>
        {% endif %}
    </ul>
</div>
{% endblock table_of_contents %}


{% block body %}
{# List any Classes #}
{% for class in node.classes|sort_asc %}
    {% if loop.first %}
    <h2 id="classes">Classes</h2>
    {% endif %}
    <a href="{{ class|route(presentation = 'url') }}">{{ class.name }}</a>
{% endfor %}
{# List any Action Hooks #}
{% for function in functions %}
    {# iterate thru function tags, if function has category tag reference save it #}
    {% for tag_name,tags in function.tags %}
        {% if tag_name in ['category']  %}
            {% set h = tags.0.description %}

            {# get all hooks in category #}
            {% set hooks = '{' == h|first ? h|slice(1, h|length - 2 )|trim|split('\n') : h|split('\n') %}

            {% for entry in hooks %}
                {% if "add_action" == entry|slice(0,10)  %}
                    {% if false == found_action %}
                        {% set found_action = true %}
                        <h2 id="actions">Actions</h2>
                    {% endif %}
                    {{ include('vendor/caweb/phpdoc/inc/wp-hooks.html') }}
                {% endif %}
            {% endfor %}

        {% endif %}
    {% endfor %}
{% endfor %}

{# List any Filters #}
{% for function in functions %}
    {# iterate thru function tags, if function has category tag reference save it #}
    {% for tag_name,tags in function.tags %}
        {% if tag_name in ['category']  %}
            {% set h = tags.0.description %}

            {# get all hooks in category #}
            {% set hooks = '{' == h|first ? h|slice(1, h|length - 2 )|trim|split('\n') : h|split('\n') %}

            {% for entry in hooks %}
                {% if "add_filter" == entry|slice(0,10)  %}
                    {% if false == found_action %}
                        {% set found_action = true %}
                        <h2 id="actions">Actions</h2>
                    {% endif %}
                    {{ include('vendor/caweb/phpdoc/inc/wp-hooks.html') }}
                {% endif %}
            {% endfor %}

        {% endif %}
    {% endfor %}
{% endfor %}

<div>
    
    {% if functions|length > 0 %}
        <h2 id="functions">Functions</h2>
    {% endif %}
    {{ include('vendor/caweb/phpdoc/inc/functions.html') }}
</div>

{% endblock body %}
