{% extends "vendor/caweb/phpdoc/index.html.twig" %}

{% block head %}
    <title>CAWeb Files</title>
{% endblock head %}

{% block introduction %}
<h1>{{ node.name }}</h1>
<i>{{ node.summary }}</i>
{% endblock introduction %}

{% block table_of_contents %}
<div id="class-toc" class="mt-3">
{# Interfaces, Classes and Traits #}
{{ include('vendor/caweb/phpdoc/ssi/class-list.html') }}

{# File Functions #}
{{ include('vendor/caweb/phpdoc/ssi/functions-toc.html', {'prefix': 'function'}) }}
{{ include('vendor/caweb/phpdoc/ssi/functions-toc.html', {'prefix': 'method'}) }}
</div>
{% endblock table_of_contents %}


{% block body %}


{% if node.classes|length > 0 %}
    
                            
{% else %}
    {# File Functions #}
    {{ include('vendor/caweb/phpdoc/ssi/functions.html', {'prefix': 'function'}) }}

{% endif %}

{% endblock body %}
