{% set template_version = project.settings.custom.template_version %}
{% set stable_version = project.settings.custom.stable_version %}

{% set github_ref = 'https://github.com/' %}
{% set cdn_ref = 'https://california.azureedge.net/cdt/statetemplate/' %}

{% set gitub_href_link = github_ref ~ project.settings.custom.github_user ~ '/' ~ project.settings.custom.github_repo ~ '/blob/' ~ project.settings.custom.github_branch ~ '/' %}

{% set colorscheme = colorscheme is not empty ? colorscheme : project.settings.custom.colorscheme %}


<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <link rel="stylesheet" href="{{ cdn_ref ~ template_version }}/css/cagov.core.css">

        {% block head %}
        {% endblock head %}
        
        {% block colorscheme %}
        {% if colorscheme %}
        <link rel="stylesheet" href="{{ cdn_ref ~ template_version }}/css/colortheme-{{ colorscheme|replace({' ' : ''})|lower }}.css">
        {% endif %}
        {% endblock colorscheme %}
        
        {{ include('inc/head.html') }}
        
    </head>
    <body class="primary">
        {% include 'inc/header.html' %}
        <div id="page-container">
            <div id="main-content" class="main-content" tabindex="-1">
                <main class="main-primary">
                    <div class="section">
                         <div class="container">
                            <!-- Sidebar -->
                            {% block sidebar %}
                            <div class="quarter">
                                {% block sidebar_content %}
                                {% include 'inc/sidebar.html' %}
                                {% endblock %}
                            </div>
                            {% endblock %}

                            <!-- Introduction -->
                            {% block introduction %}
                            {% endblock introduction %}
                                        

                            <!-- Table of Contents -->
                            {% block table_of_contents %}
                            {% endblock table_of_contents %}
                
                            <!-- Body Content -->
                            {% block body %}
                            {% endblock body %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer id="footer" class="global-footer hidden-print">
            {{ include('inc/footer.html') }}
            <script src="{{ cdn_ref ~ template_version  }}/js/cagov.core.js"></script>
        </footer>
    </body>
</html>
