

{% set is_theme = project.settings.custom.is_theme %}
{% set stable_version = project.settings.custom.stable_version %}
{% set state_version = 'true' == is_theme ? project.settings.custom.state_version|split('.', 3)|slice(0,2)|join('.') : project.settings.custom.state_version %}

{% set github_ref = 'https://github.com/' %}
{% set gitub_href_link = github_ref ~ project.settings.custom.github_user ~ '/' ~ project.settings.custom.github_repo ~ '/blob/' ~ project.settings.custom.github_branch ~ '/' %}


{% set colorschemes = {	
    'Delta' : [
        {'hex': 'A5BDC5', 'rgb' : '165,189,197'},
        {'hex': '577786', 'rgb' : '87,119,13'},
        {'hex': '46565E', 'rgb' : '70,86,94'},
        {'hex': 'f5f9fa', 'rgb' : '245,249,250'},
    ],
    'Eureka' : [
        {'hex': 'D9B295', 'rgb' : '217,178,149'},
        {'hex': '3E4B4D', 'rgb' : '62,75,77'},
        {'hex': '21272A', 'rgb' : '33,39,42'},
        {'hex': 'f9f8f8', 'rgb' : '249,248,248'},
    ],
    'Mono' : [
        {'hex': 'ffce2b', 'rgb' : '255,206,43'},
        {'hex': '545351', 'rgb' : '84,84,84'},
        {'hex': '191919', 'rgb' : '25,25,25'},
        {'hex': 'f4f3ef', 'rgb' : '244,243,239'},
    ],
    'Oceanside' : [
        {'hex': 'FDB81E', 'rgb' : '253,184,30'},
        {'hex': '046B99', 'rgb' : '4,107,153'},
        {'hex': '323A45', 'rgb' : '50,58,69'},
        {'hex': 'E1F2F7', 'rgb' : '225,242,247'},
    ],
    'Orange County' : [
        {'hex': 'fbad23', 'rgb' : '251,173,35'},
        {'hex': 'A15801', 'rgb' : '161,88,1'},
        {'hex': '483723', 'rgb' : '50,58,69'},
        {'hex': 'f1ede4', 'rgb' : '225,242,247'},
    ],
    'Paso Robles' : [
        {'hex': 'fbad23', 'rgb' : '251,173,35'},
        {'hex': '691808', 'rgb' : '105,24,8'},
        {'hex': '313131', 'rgb' : '49,49,49'},
        {'hex': 'f5f5f5', 'rgb' : '245,245,245'},
    ],
    'Sacramento' : [
        {'hex': '7bb0da', 'rgb' : '123,176,218'},
        {'hex': '153554', 'rgb' : '21,53,84'},
        {'hex': '730000', 'rgb' : '115,0,0'},
        {'hex': 'e1ecf7', 'rgb' : '225,236,247'},
    ],
    'Santa Barbara' : [
        {'hex': 'FF9B53', 'rgb' : '255,155,83'},
        {'hex': '834B1E', 'rgb' : '131,75,30'},
        {'hex': '3c2c29', 'rgb' : '60,44,41'},
        {'hex': 'FFEBD7', 'rgb' : '255,235,215'},
    ],
    'Santa Cruz' : [
        {'hex': 'f5811b', 'rgb' : '245,129,27'},
        {'hex': '0f4f94', 'rgb' : '15,79,148'},
        {'hex': '2c2c4f', 'rgb' : '44,44,79'},
        {'hex': 'E1ECF7', 'rgb' : '225,236,247'},
    ],
    'Shasta' : [
        {'hex': 'fbad23', 'rgb' : '251,173,35'},
        {'hex': '336c39', 'rgb' : '51,108,57'},
        {'hex': '3c4543', 'rgb' : '60,69,67'},
        {'hex': 'effaf6', 'rgb' : '239,250,246'},
    ],
    'Sierra' : [
        {'hex': 'fbad23', 'rgb' : '251,173,35'},
        {'hex': '447766', 'rgb' : '68,119,102'},
        {'hex': '194949', 'rgb' : '25,73,73'},
        {'hex': 'effaf6', 'rgb' : '239,250,246'},
    ],
    'Trinity' : [
        {'hex': 'c19e73', 'rgb' : '193,158,115'},
        {'hex': '446a7c', 'rgb' : '68,106,124'},
        {'hex': '21272a', 'rgb' : '33,39,42'},
        {'hex': 'f9f8f8', 'rgb' : '249,248,248'},
    ]
} %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% block head %}
        {% endblock head %}
        
        {% block colorscheme %}
        {% if 'true' == is_theme %}
            <!-- CAWeb Theme CSS -->
            <link rel="stylesheet" href="{{ path('/') }}css/cagov-v{{ state_version }}-santa barbara.css">
        {% else %}
            <!-- State Template CDN CSS -->
            <link href="https://california.azureedge.net/cdt/statetemplate/{{ state_version }}/css/cagov.core.css" rel="stylesheet">
            <link href="https://california.azureedge.net/cdt/statetemplate/{{ state_version }}/css/colorscheme-santabarbara.css" rel="stylesheet">
        {% endif %}
        {% endblock colorscheme %}
        
        {{ include('inc/head.html') }}
        
    </head>
    <body class="primary non_divi_builder">
        {% include 'inc/header.html' with {'github_ref': github_ref} %}

        <div id="page-container">
            <div id="et-main-area">
                <div id="main-content" class="main-content" tabindex="-1">
                    <div class="section">
                        <main class="main-primary">
                            {% block introduction %}
                            {% endblock introduction %}
                            
                            {% block table_of_contents %}
                            {% endblock table_of_contents %}
    
                            {% block body %}
                            {% endblock body %}
    
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="global-footer hidden-print">
            {{ include('inc/footer.html') }}
            {% if 'true' == is_theme %}
                <!-- CAWeb Theme JS -->
                <script src="{{ path('/')  }}js/caweb-v{{ state_version }}.js"></script>
            {% else %}
                <!-- State Template CDN JS -->
                <script src="https://california.azureedge.net/cdt/statetemplate/{{ state_version }}/js/cagov.core.js"></script>
            {% endif %}
        </footer>
    </body>
</html>
