{% macro correct_class_name(__class) %}
{{ __class|replace({'_':'-'}) }}
{% endmacro correct_class_name %}

{% macro letter_icon(__letter, __shape = 'circle', __color = 'cornflowerblue') %}
<span data-letter="{{ __letter }}" class="letter-icon {{ __shape }}"></span>
{% endmacro letter_icon %}

{% macro correct_default_values(__val) %}
{% set __val = __val|trim matches '/ull/' ? 'null' : __val|trim %}
{% set __val = __val matches '/rue/' ? 'true' : __val  %}
{% set __val =  __val matches '/alse/' ? 'false' : __val  %}
{{ __val }}
{% endmacro correct_default_values %}

{% macro wp_hook_link(__link, __action) %}
{% set invalid_hooks = ['publish_future_post'] %}

{% set __link = 'https://developer.wordpress.org/reference/hooks/' ~ __link  %}

{% if __action not in invalid_hooks %}
<a target="_blank" href="{{ __link }}">{{ __action }}</a>
{% endif %}
{% endmacro  %}

{# Used to correct dynamic wordpress action/filters #}
{% macro wp_hook_corrections(__action) %}
    {# if action has caweb_ action request #}
    {% if __action matches '/caweb_/' %}
        {% set __action = __action|split('caweb_')[0] ~ 'action' %}
    {% endif %}

    {# if action loads dynamic load-pagenow #}
    {% if __action matches '/load-.*\.php/' %}
        {% set __action = 'load-pagenow' %}
    {% endif %}

    {# if action loads dynamic admin_head #}
    {% if __action matches '/admin_head-.*\.php/' %}
        {% set __action = 'admin_head-hook-suffix' %}
    {% endif %}

    {# if action loads dynamic admin_footer #}
    {% if __action matches '/admin_footer-.*\.php/' %}
        {% set __action = 'admin_footer-globalshook_suffix' %}
    {% endif %}

    {{ __action }}
{% endmacro %}
