{% macro markup(__text, __pre, __post) %}
<div class="markdown-text">{{__pre}}{{ __text|markdown }}{{__post}}</div>
{% endmacro markup %}

{% macro terminal_command(__text) %}
 <div class="multi-terminal-commands d-inline-block align-middle">
    {% for command in __text %}
        <pre>{{ command }}</pre>
    {% endfor %}
</div>
{% endmacro terminal_command %}

{% macro correct_class_name(__class) %}
{{ __class|replace({'_':'-'}) }}
{% endmacro correct_class_name %}

{% macro letter_icon(__letter, __shape = 'circle',__additional_classes = []) %}
<span data-letter="{{ __letter }}" class="letter-icon {{ __shape }} {{ __additional_classes|join(' ') }}">
</span>
{% endmacro letter_icon %}

{% macro cagov_icon(__icon, __classes = []) %}
{% if __icon starts with 'dashicons:' %}
<span class="{{ __classes|join(' ') }}"><span data-icon="{{ __icon }}" class="iconify"></span></span>
{% else %}
<span class="ca-gov-icon-{{ __icon }} {{ __classes|join(' ') }}"></span>
{% endif %}
{% endmacro cagov_icon %}

{% macro correct_default_values(__val) %}
{% set __val = __val|trim matches '/ull/' ? 'null' : __val|trim %}
{% set __val = __val matches '/rue/' ? 'true' : __val  %}
{% set __val =  __val matches '/alse/' ? 'false' : __val  %}
{{ __val }}
{% endmacro correct_default_values %}

{% macro wp_hook_link(__link, __action) %}
{% set invalid_hooks = ['publish_future_post'] %}

{% set __link = __link is not empty ? 'https://developer.wordpress.org/reference/hooks/' ~ __link : ''  %}

{% if __action not in invalid_hooks %}
<a{{ __link is not empty ? ' target=_blank href=' ~ __link  : '' }}>{{ __action }}</a>
{% endif %}
{% endmacro  %}

{# Used to correct dynamic wordpress action/filters #}
{% macro wp_hook_corrections(__action) %}
    {# if action has dynamic action request #}
    {% if project.settings.custom.wp_prefixes is not empty %}
        {% set prefixes = project.settings.custom.wp_prefixes|replace({' ':''})|split(',') %}
        {% for prefix in prefixes %}
            {% if __action matches '/' ~ prefix ~ '/' %}
            {% set __action = '' %}
            {% endif %}
        {% endfor %}        
    {% endif %}

    {# if action loads dynamic load-pagenow #}
    {% if __action matches '/load-.*\.php/' %}
        {% set __action = 'load-pagenow' %}
    {% endif %}

    {# if action loads dynamic admin_head #}
    {% if __action matches '/admin_head-.*\.php/' %}
        {% set __action = 'admin_head-hook-suffix' %}
    {% endif %}

    {# if action loads dynamic admin_footer #}
    {% if __action matches '/admin_footer-.*\.php/' %}
        {% set __action = 'admin_footer-globalshook_suffix' %}
    {% endif %}

    {{ __action }}
{% endmacro %}
