{% extends "layout.html.twig" %}
{% import 'macros.twig' as macros %}

{% set functions = [] %}
{# iterate thru node functions #}
{% for f in node.functions|sort_asc %}
    {# Save function information #}
    {% set functions = functions|merge([f]) %}

    {# iterate thru classes in the file  #}
    {% for class in node.classes|sort_asc %}
        {# iterate thru class methods #}
        {% for c in class.methods|sort_asc %}
            {# Save function information #}
            {% set functions = functions|merge([c]) %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% block head %}
    <title>{{ project.name }} {{node.path}} File</title>
{% endblock head %}

{% block introduction %}
<div id="file-intro" class="offset-quarter border-bottom border-info">
        <h1 class="my-0">{{ node.path }}<a target="_blank" class="ml-2 no-underline" href="{{ gitub_href_link ~ node.path }}">
            {{ macros.cagov_icon('link', ['h4', 'd-inline']) }}
            </a>
        </h1>
    <i class="d-block">{{ node.summary }}</i>
    
    {# Tags #}
    {{ include('inc/tags.html', {'__tags': node.tags, '__attr': ['link', 'see']}) }}
</div>
{% endblock introduction %}

{% block table_of_contents %}
{% set found_action, found_filter = false, false %}

<div id="file-toc" class="mt-3 offset-quarter">
    <h2 class="my-0">Table of Contents</h2>
    
    <ul class="list-overstated">
        {% if node.classes|length > 0 %}
            <li><a href="#classes">Classes</a></li>
        {% endif %}
        {% for function in functions %}
            {# iterate thru function tags, if function has category tag reference save it #}
            {% for tag_name,tags in function.tags %}
                {% if tag_name in ['category']  %}
                    {% set h = tags.0.description %}

                    {# get all hooks in category #}
                    {% set hooks = '{' == h|first ? h|slice(1, h|length - 2 )|trim|split('\n') : h|split('\n') %}

                    {% for entry in hooks %}
                        {% if "add_action" == entry|slice(0,10) and false == found_action  %}
                            {% set found_action = true %}
                            <li><a href="#actions">Actions</a></li>
                        {% elseif "add_filter" == entry|slice(0,10) and false == found_filter %}
                            {% set found_filter = true %}
                            <li><a href="#filters">Filters</a></li>
                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if functions|length > 0 %}
        <li><a href="#functions">Functions</a></li>
        {% endif %}
        {% if 'divi/extension/includes/modules/' == node.path|slice(0, 'divi/extension/includes/modules/'|length) %}
        <li><a href="#module-example">Example</a></li>
        {% endif %}
    </ul>
</div>
{% endblock table_of_contents %}


{% block body %}
<div class="offset-quarter">
{# List any Classes #}
{% for class in node.classes|sort_asc %}
    {% if loop.first %}
    <h2 id="classes" class="my-0">Classes</h2>
    {% endif %}
    <p>{{ macros.letter_icon('C') }} <a href="{{ path('/classes/') ~ macros.correct_class_name( class.name ) ~ '.html' }}">{{ class.name }}</a></p>
{% endfor %}

{# List any Action Hooks #}
{% include 'inc/wp-hooks.html' with {'hook':'action', 'functions':functions} %}

{# List any Filters #}
{% include 'inc/wp-hooks.html' with {'hook':'filter', 'functions':functions} %}

{% if functions|length > 0 %}
<div>
    <h2 id="functions" class="my-0">Functions</h2>
    {{ include('inc/functions.html') }}
</div>
{% endif %}
{% if 'divi/extension/includes/modules/' == node.path|slice(0, 'divi/extension/includes/modules/'|length) %}
<h2 id="module-example" class="my-0">Example</h2>
<a href="{{ path('/') }}examples/module.html">{{ node.name}}</a>
{% endif %}
</div>
{% endblock body %}

